/* main.css */
body {
  background: #0f172a;
  color: #e5e7eb;
  font-family: monospace;
  padding: 20px;
  margin: 0;
}

h1, h2, h3 {
  color: #38bdf8;
}

textarea {
  width: 100%;
  min-height: 160px;
  background: #020617;
  color: #a5f3fc;
  border: 1px solid #334155;
  padding: 10px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 14px;
  resize: vertical;
}

pre {
  background: #020617;
  padding: 10px;
  border: 1px solid #334155;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  min-height: 200px;
  font-family: monospace;
  font-size: 14px;
}

.container {
  max-width: 900px;
  margin: auto;
}

#decodeCircles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 10px;
  margin: 1px 0;

}
     
.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: radial-gradient(circle, #1e293b, #020617);
  color: #22d3ee;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 0 10px #22d3ee;
  user-select: none;
  transition: 0.2s;
}

.circle:hover {
  transform: scale(1.1);
}

.circle.active {
  background: radial-gradient(circle, #22d3ee, #0284c7);
  color: white;
  box-shadow: 0 0 25px #22d3ee;
}

#decodeBtn:hover {
  background: #ff0099;
}
#copyBtn:hover {
  background: #1c15ff;
}
#clearBtn:hover {
  background: #ffeaff;
}
